SERVER_HOST="0.0.0.0"
SERVER_PORT=80

DATABASE_URL="postgresql+asyncpg://postgres:postgres@db:5432/postgres"
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_PORT=5452
REDIS_URL="redis://redis:6379"